html, body{
  height: 100%;
}

body {
  background: #21BAFB;
  font-family: 'Droid Sans', sans-serif;
}

header{
  background: transparent url('/driift.png') center 100px no-repeat;
  padding-top: 220px;
  text-align: center;
}

.register{
  width: 280px;
  margin:0 auto;
}