// Settings
// config ----------------
base-font-size = 16px
base-line-height = 24px
default-rhythm-border-style = solid
relative-font-sizing = true
min-line-padding = 4px
font-unit = relative-font-sizing ? 1em : base-font-size
// ----------------------
browser-default-font-size = 16px
base-rhythm-unit = base-line-height / base-font-size * font-unit
base-leader = (base-line-height - base-font-size) * font-unit / base-font-size
base-half-leader = base-leader / 2
base-font-stack = 'Source Sans Pro', sans-serif;
base-font-color = #000
highlight-color = #FF3A53
establish-baseline('normalize')

font-face('apercu_light-webfont', '/fonts/apercu')
font-face('apercu_medium-webfont', '/fonts/apercu')
font-face('apercu_bold-webfont', '/fonts/apercu')

base(base-font-stack, base-font-size, base-font-color)

/**
 * Debug
 */
// edit()
main
  transition: all .25s ease-in-out-back

/*
  Typography
 */
typography()
code-blocks()
forms()
fields()
flash-notices()

/*
  Elements
 */
table(border = true, striped = true, condensed = false)
flash-notices()
.btn.btn-hero
  border: none
  simple-button(#FF3A53, 'large', #fff)
  font-family: base-font-stack

// Lists
.inline-list
  inline-list()

.reset-list
  reset-list()

section > header
section > nav
  center(1024px)

+mobile()
  base(base-font-stack, 14px, base-font-color)
  nav.nav .nav-brand
    height: 30px !important

nav.nav
  align(vertical)
  position: relative
  min-height: -rhythm(4)
  .nav-brand
    col(1/4)
    background: url('/img/driift-logo.png') no-repeat left center
    background-size: contain
    text-indent: -99999px
    width: 224px
    height: 43px
    span
      display: none
  .nav-menu
    col(3/4)
    ul
      float: right
      li
        color: #fff

section.hero
  background: url('/img/background.png')
  background-size cover
  height: 100vh
  text-align: center
  h1
    color: #fff
    adjust-font-size-to(52px)
    font-weight: normal
  .hero-copy
    center(720px)
    p
      adjust-font-size-to(20px)
      adjust-leading-to(1)
    color: #fff
  .hero-action
    margin-leader(2)
header
  // col(1/2)
body
  // debug-vertical-alignment()