html
  min-height: 100%;
body.pricing
  min-height: 100%;
  background: rgba(31, 99, 133, 0.75)
  background-image: radial-gradient(rgba(31, 99, 133, 0.75), rgba(31, 99, 133, 0.75) + 30deg)
body.pricing .box
  background: #fff
  background-clip: padding-box
  border: 4px solid rgba(255, 255, 255, 0.5)
  padding: 15px
  border-radius: 5px
  margin: 15px 0
  > h1, > h2
    margin-top: 0