html
  min-height: 100%;
body.smr
  min-height: 100%;
  background: rgba(31, 99, 133, 0.75)
  background-image: radial-gradient(rgba(31, 99, 133, 0.75), rgba(31, 99, 133, 0.75) + 30deg)
body.smr .box
  background: #fff
  background-clip: padding-box
  padding: -rhythm(1)
  border-radius: 5px
  margin: 15px 0
  > h1, > h2
    margin-top: 0
  img
    width: 100%

body.smr
  .morris
    @media (min-width: 600px) {
      float: right
    }
    max-width: 300px